<%= render partial: 'header', locals: { tab:@virtual_path[/^[^\/]+/] } %>
<div class="giant-section-aggregate-div">
  <%= render partial: 'jumbotron' %>

  <!-- TODO: @@@ REFACTOR OUT THE BOOTSTRAP NAMED STYLES -->
  <div class="giant-section">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="giant-section-title">
      <h2>Open Jobs</h2>
    </div>
    <hr class="giant-separator-title">
  <% if @jobs.empty? %>
    <%= render 'job_category' %>
    <hr>
  <% else %>
    <% @jobs.each do |job| %>
      <% @job = job %>
      <%= render 'job', including: [:category] %>
      <br>
      <%= link_to 'APPLY',         new_job_job_application_path(@job),  class: 'giant-button' %>
      <%= link_to 'TELL A FRIEND', new_job_job_referral_path(@job),     class: 'giant-button' %>
      <hr>
    <% end %>
  <% end %>
  </div>
  <div class='col-sm-1'>
  </div>
  </div>

</div>
<%= render partial: 'footer' %>
