<%= render partial: 'header', locals: { tab:@virtual_path[/^[^\/]+/] } %>
<div class="giant-section-aggregate-div">
  <%= render partial: 'jumbotron' %>
  <div class="giant-section-logos-all-div giant-background-logos-candidates">
  </div>
  <div class="giant-section-substance-all-div">
    <div class="giant-section-substance-caption-all-div">
        <%= render partial: 'substance_caption_tab' %>
    </div>
    <div class="giant-section-substance-jobs-bundle-div">
    <% if @jobs.empty? %>
      <div class="giant-section-substance-jobs-category-div">
          <%= render 'job_category' %>
      </div>
    <% else %>
      <% @jobs.each do |job| %>
        <% @job = job %>
        <%= render 'job', including: [:category] %>
        <div class="giant-section-substance-jobs-buttons-div">
          <%= link_to 'TELL A FRIEND', new_job_job_referral_path(@job),     remote: true, class: 'giant-section-substance-jobs-button' %>
          <%= link_to 'APPLY',         new_job_job_application_path(@job),  remote: true, class: 'giant-section-substance-jobs-button' %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<%= render partial: 'footer' %>
