<%= render partial: 'header', locals: { tab:@virtual_path[/^[^\/]+/] } %>

<div class="giant-sections">

<!-- @@@ design draft 1
  <h2><span class="giant-panel-heading">&nbsp;&nbsp;</span>OPEN JOBS</h2>
-->
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2 class="panel-title">Open Jobs</h2>
      </div>
    </div> <!-- /panel -->
    <hr>
  <%  @jobs.each do |job| %>
    <% @job = job %>
    <%= render 'job', including: [:category] %>
    <br>
    <%= link_to 'APPLY',         new_job_job_application_path(@job),  class: 'giant-button' %>
    <%= link_to 'TELL A FRIEND', new_job_job_referral_path(@job),     class: 'giant-button' %>
    <hr>
  <%  end %>
  </div> <!-- /col -->
  <div class='col-sm-1'>
  </div>

</div> <!-- /giant-sections -->

<%= render partial: 'footer' %>
