<p id="notice"><%= notice %></p>

<% job = @job %>
<%= render 'job' %>
<%= render 'buttons' %>

<%= link_to 'Edit', edit_job_path(@job),  class: 'giant-button' %> |
<%= link_to 'Back', jobs_path,            class: 'giant-button' %>
