<%= render partial: 'header', locals: {tab: @virtual_path[/^[^\/]+/]} %>
<div class="giant-section-aggregate-div">
  <div class="giant-section-jumbo-all-div giant-background-jumbo-contact">
    <div class="giant-section-jumbo-bundle-div">
      <div class="giant-section-jumbo-cluster-text-solo-div">
        <h1>LET'S GET IN
        <br>TOUCH TODAY!</h1>
      </div>
    </div>
  </div>
  <div class="giant-section-logos-all-div giant-background-logos-contact">
  </div>
  <div class="giant-section-substance-all-div">
    <%= render partial: 'substance_caption_text', locals: { text:'CONTACT US' } %>
  </div>
  <div class="giant-section giant-contact-info">
    <div class="giant-substance-cluster-div">
      <div class="giant-substance-cluster-item-div">
        <p class="giant-contact-details">
          <span class="giant-contact-address">576 Sacramento St, 3rd Floor</span>
          <span class="giant-contact-address">San Francisco, CA 94111</span>
          <span class="giant-contact-phone">(415) 366-8855</span>
          <span class="giant-contact-divider"></span>
          <span class="giant-contact-name">MICKEY PUCKO</span>
          <span class="giant-contact-title">VP, CLIENT SERVICES</span>
          <% email_address = "mickey@#{Rails.application.config.custom_email_domain_default}" %>
          <a href="mailto:<%= email_address %>">
            <span class="giant-contact-email"><%= email_address.upcase %></span>
          </a>
        </p>
      </div>
      <div class="giant-substance-cluster-item-div">
        <div class="giant-contact-icons">
          <h4>FOLLOW US</h4>
          <a href="<%= Rails.application.config.custom_link_facebook %>">
            <img src="/assets/FB-f-Logo__blue_144.png"/>
          </a>
          <a href="<%= Rails.application.config.custom_link_twitter %>">
            <img src="/assets/Twitter_logo_blue.png"/>
          </a>
          <a href="<%= Rails.application.config.custom_link_linkedin %>">
            <img src="/assets/In-2C-128px-R.png"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'footer' %>
