<div class="giant-section-substance-jobs-details-all-div">
  <div class="giant-section-substance-jobs-details-brief-div">
    <div class="giant-section-substance-jobs-details-brief-content-div">
      <p class="giant-section-substance-jobs-details-brief-content-number-p">
        <span class="giant-section-substance-jobs-details-brief-content-number-label-span">
          JOB
        </span>
        <span class="giant-section-substance-jobs-details-brief-content-number-digits-span">
          #<%= @job.id_scheme_ext %></h4>
        </span>
      </p>
      <p class="giant-section-substance-jobs-details-brief-content-title-p">
        <%= @job.title %></h3>
      </p>
<!-- !!! disabled, so now these details must be provided in the decription below
  <h4><strong>LOCATION:</strong>  <%= @job.location %></h4>
  <h4><strong>STATUS:</strong>    <%= @job.employment_type %></h4>
  <h4><strong>STARTS:</strong>    <%= @job.start_date %></h4>
  <h4><strong>RATE:</strong>      <%= @job.pay_rate %></h4>
  <br>
-->
    </div>
    <div class="giant-section-substance-jobs-details-brief-line-outer-div">
      <div class="giant-section-substance-jobs-details-brief-line-inner-div">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="giant-section-substance-jobs-details-description-div">
    <%= render './jobs/referral_hidden' %>
    <div class="giant-section-substance-jobs-details-description-prose-div">
      <p><%= raw @job.description %>
        <!--%= link_to 'MORE', @job %-->
      </p>
    </div>
  </div>
</div>
