<!DOCTYPE html>
<html lang="en">
<head>
  <!-- BEGIN bootstrap required prefix -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- END bootstrap required prefix -->
  <title>Giant Recruiting</title>
  <!-- @@@ THIS DOESN'T WORK WITH MULTI-RES *.ico @@@ favicon_link_tag '/favicon.ico' -->
  <%= favicon_link_tag '/logo/logo-g-square-shrunk4-x016-y016.png', type: 'image/png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
